Yet another Docker image with Nginx and LetsEncrypt, from Debian Jessie (8), with healcheck port 80 and 443.

{{#versions}}
## {{name}}

{{readme.description}}

### Docker tags

{{#docker.tags}}
- {{.}}
{{/docker.tags}}

### Environment variables

{{#readme.environment}}
- **{{name}}** {{title}} (default: {{default}})
{{/readme.environment}}

### Volumes

{{#readme.volumes}}
- **{{path}}** {{description}}
{{/readme.volumes}}

```
{{readme.usage}}
```

{{/versions}}
